{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="{% url 'order' %}"  method="POST" >
        {% csrf_token %}
        <input type="text" name="delivery_address" placeholder="Delivery address"/>
        <input type="text" name="card_name" placeholder="Card Name"/>
        <input type="text" name="card_number" placeholder="Card Number"/>
        <input type="number" name="expiration_year" placeholder="expiration_year"/>
        <input type="date" name="expiration_date" placeholder="expiration_date"/>
        <input type="email" name="email" placeholder="Email"/>
        <input type="submit"/>
    </form>

{% endblock %}