{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Publication</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in cart %}
            <tr>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
            </tr>
        {% endfor %}
    </table>
    <h1>Total sum: <span id="total-sum">{{ cart.summary }}</span></h1>

        <div>
            <form id='discount' action="{% url 'discount' %}" method="POST">
                {% csrf_token %}
                {{ form.code }}
                <input class="btn-sm" type="submit" value="Apply Discount"/>
            </form>
        </div>
    <div>
        <form action="{% url 'order' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="delivery_address" placeholder="Delivery address" required/>
            <input type="text" name="card_name" placeholder="Card Name" required/>
            <input type="text" name="card_number" placeholder="Card Number" required/>
            <input type="number" name="expiration_year" placeholder="expiration_year"  required/>
            <input type="date" name="expiration_date" placeholder="expiration_date"  required/>
            <input type="email" name="email" placeholder="Email" required/>
            <input class="btn-sm" type="submit" value="Order Items"/>
        </form>
    </div>

{% endblock %}