{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="listItems">
        <h1>Publications List</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-xs-3">
                    <a href="{% url 'product' product.pk %}">
                        {{ product.name }}
                        <img src="{% static 'img/publication.jpg' %}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}