{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if pdf %}
        <div class="columns">
            <form action="{% url 'add_to_cart' %}" method="POST">
                {% csrf_token %}
                <ul class="price">
                    <li class="header">{{ product.name }}</li>
                    <li class="grey">TYPE : PDF</li>
                    <li><img src="{% static 'img/publication.jpg' %}"/></li>
                    <li class="grey">Price : $ {{ pdf.price }}</li>
                </ul>
                <input type="hidden" name="type" value="PDF"/>
                <input type="hidden" name="id" value="{{ pdf.id }}"/>
                <input type="hidden" name="quantity" value="1"/>
                <input type="hidden" name="unit_price" value="{{ pdf.price }}"/>
                <input class="btn" type="submit" value="Add to Bag"/>
            </form>
        </div>
    {% endif %}

    {% if paperback %}
        <div class="columns">
            <form action="{% url 'add_to_cart' %}" method="POST">
                {% csrf_token %}
                <ul class="price">
                    <li class="header">{{ product.name }}</li>
                    <li class="grey">TYPE : paperback</li>
                    <li><img src="{% static 'img/publication.jpg' %}"/></li>
                    <li class="grey">Price : $ {{ paperback.price }}</li>
                </ul>
                <input type="hidden" name="type" value="PAPERBACK">
                <input type="hidden" name="id" value="{{ paperback.id }}"/>
                <input type="hidden" name="quantity" value="1"/>
                <input type="hidden" name="unit_price" value="{{ paperback.price }}"/>
                <input class="btn" type="submit" value="Add to Bag"/>
            </form>
        </div>
    {% endif %}

    {% if audio %}
        <div class="columns">
            <form action="{% url 'add_to_cart' %}" method="POST">
                {% csrf_token %}
                <ul class="price">
                    <li class="header">{{ product.name }}</li>
                    <li class="grey">TYPE : audio</li>
                    <li><img src="{% static 'img/publication.jpg' %}"/></li>
                    <li class="grey">Price : $ {{ audio.price }}</li>
                </ul>
                <input type="hidden" name="type" value="AUDIO">
                <input type="hidden" name="id" value="{{ audio.id }}"/>
                <input type="hidden" name="quantity" value="1"/>
                <input type="hidden" name="unit_price" value="{{ audio.price }}"/>
                <input class="btn" type="submit" value="Add to Bag"/>
            </form>
        </div>
    {% endif %}
    <div class="clearfix"></div>
    {% if related_items %}
        <div class="related-items">
            <h1>Related Items</h1>
            {% for item in related_items %}
                <a href="{% url 'product' item.pk %}">
                    <div class="columns">
                        <ul class="price">
                            <li class="header">{{ item.name }}</li>
                            <li><img src="{% static 'img/publication.jpg' %}"/></li>
                        </ul>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}