@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
}



* {
    box-sizing: border-box;
}

.small-text {
    font-size: 12px;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

div {
    padding:20px;
}

.columns img {
    width: 100%;
    height: auto;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.navigation {
    width: 100%;
}

input {
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: lightblue;
}

input[type='submit'] {
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    background-color: red;
}